{%extends "home/layout.html"%}
{%load static%}
{%block body%}
<section id="blog-list-body">

    {%for blog_object in blogs_object_list%}

    <div class="blog-preview-container">

        <img class="blog-thumbnail" src="{{blog_thumbnail_dir}}/{{blog_object.blog_thumbnail}}" alt="">

        <div class="blog-preview-description-container">

            <div class="blog-preview-title-container">
                <h2 class="blog-preview-title">{{blog_object.blog_title}}</h2>
            </div>

            <div class="blog-preview-datetime-container">
                <p class="blog-preview-datetime">Date: 13 Dec 2022 </p>
            </div>

            <div class="blog-preview-short-description-container">
                <p>
                    {{blog_object.blog_short_description}}
                </p>
            </div>

        </div>
    </div>

    {%endfor%}

</section>

{%endblock%}