{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>


    <!-- CSS FILES-->

    <link href="{%static 'css/index.css'%}" rel="stylesheet" />




    <!-- JS FILES-->
    <script src="{%static 'js/index.js'%}"></script>
    <script src="{%static 'js/layout.js'%}"></script>


    <!-- ##### EXTERNAL FILES ##### -->

    <!-- google font for header name -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">

    <!-- font-awsome kit for icons-->
    <script src="https://kit.fontawesome.com/d777da1c67.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudip Halder</title>
</head>

<body>
    <div id="index-body">
        <div id="frozen-box">
            <div id="name_image">
                <img id="top_dp" src="static/media/others/sudip_dp1.webp" />
                <h1 id="name">Sudip Halder</h1>
            </div>
            <div id="self_description_container">
                <p class="self_description" id="sd1"></p>
                <p class="self_description" id="sd2"></p>
                <p class="self_description" id="sd3"></p>
                <p class="self_description" id="sd4"></p>

            </div>
        </div>
    </div>
    <div id="inside-body">
        <div id="navbar-container">
            <div id="navbar">
                <svg id="home-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="#FFFFFF"
                        d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>

                <a id="projects-link">Projects</a>
                <a id="contact-link">Contact</a>
                <a id="blogs-link">Blogs</a>

            </div>
        </div>
        <svg id="box-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="#FFFFFF"
                d="M192 80c0-26.5-21.5-48-48-48H48C21.5 32 0 53.5 0 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80zm0 256c0-26.5-21.5-48-48-48H48c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336zM256 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H304c-26.5 0-48 21.5-48 48zM448 336c0-26.5-21.5-48-48-48H304c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336z" />
        </svg>
        <div id="sidebar">

        </div>
        <section id="body-content">

        </section>

    </div>
</body>

</html>