#dpBackground {
    position: absolute;
    border-radius: 50%;
    width: 120%;
    height: 840px;
    /* ellipse width = 25% + 100% + 25% */
    left: -10%;
    top: -560px;
    background: linear-gradient(180deg, rgba(251, 226, 6, 0) 0%, rgba(207, 255, 13, 0) 0.01%, rgba(255, 154, 2, 0) 63.8%, rgba(250, 255, 6, 0.49) 100%);
    z-index: 0;
}

header {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ellipse height (1030) - top(600) - navbar (70) */
    height: 360px;
    margin: 0;
    width: 100%;
}

#dpContainer {
    height: 66%;
    display: flex;
    align-items: center;
}

#nameContainer {
    height: 20%;
    display: flex;
    align-items: center;
}

#top_dp {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 30px 20px #FFFFFF;
    z-index: 1;
}

#name {
    margin: 10px;
    top: 70px;
    font-size: 30px;
    font-family: 'PT Serif', serif;
    z-index: 1;
}

.social_icon_container {
    display: flex;
    justify-content: center;
}

.social_icons {
    width: 40px;
    margin: 10px;
    border-radius: 10px;
}

#article_aboutme {
    position: relative;
    top: 50px;
    font-size: 20px;
    margin: 10px 40px;
    line-height: 30px;
    text-align: justify;
}

#education_qualification {
    display: block;
    text-align: left;
}

#education_qualification ul {
    padding: 0 15px;
}

#education_qualification h3 {
    margin-bottom: 0px;
}


@media only screen and (max-width:1000px) {
    #dpBackground {
        width: 150%;
        height: 900px;
        /* ellipse width = 25% + 100% + 25% */
        left: -25%;
        top: -625px;
    }

    .social_icons {
        width: 40px;
        border-radius: 8px;
    }
}